table{
    width:100%;
    
}

.content{
    padding-left: 10%;
    padding-right: 10%;
}

.bodyWrapperHome{
    text-align: center;
}

.contentWrapperHome{
    border: 1px solid white;
    padding: 50px;
    margin: 0 30%;
}

